<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.schedule.ScheduleMapper">
  <resultMap id="BaseOrder" type="com.cskaoyan.bean.schedule.Order">
    <id column="order_id"  property="orderId" />
    <result column="custom_id"  property="customId" />
    <result column="product_id"  property="productId" />
    <result column="order_date"  property="orderDate" />
    <result column="request_date"  property="requestDate" />
    <result column="note"  property="note" />
    <result column="quantity"  property="quantity" />
    <result column="unit_price"  property="unitPrice" />
    <result column="unit"  property="unit" />
    <result column="image"  property="image" />
    <result column="file"  property="file" />
    <result column="status"  property="status" />
  </resultMap>
  <resultMap id="CustomMap" type="com.cskaoyan.bean.schedule.Custom">
    <id column="custom_id" jdbcType="VARCHAR" property="customId" />
    <result column="custom_name" jdbcType="VARCHAR" property="customName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="owner_tel" jdbcType="VARCHAR" property="ownerTel" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <resultMap id="ProductMap" type="com.cskaoyan.bean.schedule.Product">
    <id column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <resultMap id="OrderMap" type="com.cskaoyan.bean.schedule.Order">
    <id column="order_id"  property="orderId" />
    <result column="custom_id"  property="customId" />
    <result column="product_id"  property="productId" />
    <result column="order_date"  property="orderDate" />
    <result column="request_date"  property="requestDate" />
    <result column="note"  property="note" />
    <result column="quantity"  property="quantity" />
    <result column="unit_price"  property="unitPrice" />
    <result column="unit"  property="unit" />
    <result column="image"  property="image" />
    <result column="file"  property="file" />
    <result column="status"  property="status" />
    <association property="custom" javaType="com.cskaoyan.bean.schedule.Custom">
      <id column="custom_id" jdbcType="VARCHAR" property="customId" />
      <result column="custom_name" jdbcType="VARCHAR" property="customName" />
    </association>
    <association property="product" javaType="com.cskaoyan.bean.schedule.Product">
      <id column="product_id" jdbcType="VARCHAR" property="productId" />
      <result column="product_name" jdbcType="VARCHAR" property="productName" />
    </association>
  </resultMap>
  <select id="queryOrderCount" resultType="long">
    select count(order_id) from c_order
  </select>
<!--  <select id="queryPage" resultType="com.cskaoyan.bean.schedule.Order" resultMap="BaseResultMap">-->
<!--    select * from c_order limit ${page} offset ${row}-->
<!--  </select>-->
  <select id="queryOrders" resultType="com.cskaoyan.bean.schedule.Order" resultMap="BaseOrder">
    select * from c_order
  </select>
  <select id="queryCustomByID" resultType="com.cskaoyan.bean.schedule.Custom" resultMap="CustomMap">
    select * from custom where custom_id=${id}
  </select>
  <select id="queryProductByID" resultType="com.cskaoyan.bean.schedule.Product" resultMap="ProductMap">
    select * from product where product_id=${id}
  </select>
  <select id="queryPage" resultType="com.cskaoyan.bean.schedule.Order" resultMap="OrderMap">
select
    o.order_id,
o.custom_id,
o.product_id,
o.order_date,
o.request_date,
o.note,
o.quantity,
o.unit_price,
o.unit,
o.image,
o.file,
o.status,
     cu.custom_id,cu.custom_name,p.product_id,p.product_name from c_order o , custom cu , product p
    where (o.custom_id= cu.custom_id and o.product_id=p.product_id) limit ${page} offset ${row}
  </select>
  <update id="updateCustom" >
    update custom set custom_name=#{custom.customName},full_name=#{custom.fullName},address=#{custom.address},
    fax=#{custom.fax} ,email=#{custom.email},owner_name=#{custom.ownerName} ,owner_tel=#{custom.ownerTel},
    status=#{custom.status},note=#{custom.note} where custom_id=#{custom.customId}
  </update>
  <update id="updateByPrimaryKeySelective">
    update c_order set note=#{record.note} where order_id=#{record.orderId}
  </update>
  <select id="queryCustoms" resultType="com.cskaoyan.bean.schedule.Custom" resultMap="CustomMap">
    select * from custom
  </select>
  <select id="queryProducts" resultType="com.cskaoyan.bean.schedule.Product" resultMap="ProductMap">
    select * from product
  </select>
  <insert id="insert" >
    insert into c_order values(#{record.orderId},#{record.customId},#{record.productId},#{record.orderDate},#{record.requestDate},#{record.note},#{record.quantity},
    #{record.unitPrice}, #{record.unit}, #{record.image}, #{record.file},#{record.status})
  </insert>
  <update id="updateOrderAll">
    update c_order set custom_id=#{record.customId},product_id=#{record.productId},order_date=#{record.orderDate},
    request_date=#{record.requestDate},note=#{record.note},quantity=#{record.quantity},
    unit_price=#{record.unitPrice}, unit=#{record.unit}, image=#{record.image}, file=#{record.file},status=#{record.status} where
    order_id=#{record.orderId}
  </update>
  <delete id="deleteByPrimaryKey">
    delete from c_order where order_id=#{oid}
  </delete>
    <select id="findpathByOid">
        select file from c_order where order_id=#{oid}
    </select>
    <update id="deletepathByOid">
        update c_order set file=#{path} where order_id=#{oid}
    </update>
</mapper>

