<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.MaterialMapper">
    <!--查询所有物料-->
    <select id="listMaterials" resultType="com.cskaoyan.bean.Material">
        select
        material_id as materialId,
        material_type as materialType,
        status,
        remaining,
        note
        FROM material
    </select>

</mapper>