<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.device.DeviceFaultMapper">

    <resultMap id="deviceFaultMap" type="com.cskaoyan.bean.device.DeviceFault">
        <id column="device_fault_id" jdbcType="VARCHAR" property="deviceFaultId" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="device_fault_cause" jdbcType="VARCHAR" property="deviceFaultCause" />
        <result column="device_fault_detail" jdbcType="VARCHAR" property="deviceFaultDetail" />
        <result column="device_fault_date" jdbcType="TIMESTAMP" property="deviceFaultDate" />
        <result column="device_fault_maintenance" jdbcType="VARCHAR" property="deviceFaultMaintenance" />
    </resultMap>

    <resultMap id="deviceFaultVoMap" type="com.cskaoyan.bean.device.more.DeviceFaultVo">
        <id column="device_fault_id" jdbcType="VARCHAR" property="deviceFaultId" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="device_fault_cause" jdbcType="VARCHAR" property="deviceFaultCause" />
        <result column="device_fault_detail" jdbcType="VARCHAR" property="deviceFaultDetail" />
        <result column="device_fault_date" jdbcType="TIMESTAMP" property="deviceFaultDate" />
        <result column="device_fault_maintenance" jdbcType="VARCHAR" property="deviceFaultMaintenance" />

        <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    </resultMap>

    <!--sql片段-->
    <sql id="Base_Column_List">
    device_fault_id,
    device_id,
    device_fault_cause,
    device_fault_detail,
    device_fault_date,
    device_fault_maintenance
  </sql>

    <!--查询列表清单-->
    <select id="queryAllDeviceFault" resultMap="deviceFaultVoMap">
        select
        device_fault_id,
        df.device_id,
        device_fault_cause,
        device_fault_detail,
        device_fault_date,
        device_fault_maintenance,
        d.device_name
        from device_fault df
        left join device d on df.device_id=d.device_id

    </select>

    <!--新增javabean前进行的操作-->
    <select id="queryDeviceFaultById" resultMap="deviceFaultVoMap">
        select
        <include refid="Base_Column_List"/>
        from device_fault
        where device_fault_id=#{deviceFaultId}
    </select>

    <!--新增数据-->
    <insert id="insertDeviceFault" >
        insert into device_fault
        (<include refid="Base_Column_List" />)
        values
        (#{deviceFaultId}, #{deviceId}, #{deviceFaultCause},
        #{deviceFaultDetail}, #{deviceFaultDate}, #{deviceFaultMaintenance}
        )
    </insert>

    <!--编辑操作-->
    <update id="updateDeviceFault">
        update device_fault set
        device_id = #{deviceId},
        device_fault_date =#{deviceFaultDate},
        device_fault_cause = #{deviceFaultCause},
        device_fault_maintenance = #{deviceFaultMaintenance},
        device_fault_detail = #{deviceFaultDetail}
        where device_fault_id=#{deviceFaultId}
    </update>

    <delete id="deleteDeviceFault">
        delete from device_fault where device_fault_id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--模糊查询1：根据id-->
    <select id="searchDeviceFaultByDeviceFaultId" resultMap="deviceFaultVoMap">
        select
        device_fault_id,
        df.device_id,
        device_fault_cause,
        device_fault_detail,
        device_fault_date,
        device_fault_maintenance,
        d.device_name
        from device_fault df
        left join device d on df.device_id=d.device_id
        where device_fault_id like Concat('%',#{searchValue},'%')

    </select>

    <!--模糊查询2：根据name-->
    <select id="searchDeviceFaultByDeviceFaultName" resultMap="deviceFaultVoMap">
        select
        device_fault_id,
        df.device_id,
        device_fault_cause,
        device_fault_detail,
        device_fault_date,
        device_fault_maintenance,
        d.device_name
        from device_fault df
        left join device d on df.device_id=d.device_id
        where d.device_name like Concat('%',#{searchValue},'%')
    </select>
</mapper>