<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.device.DeviceFaultMapper">

    <resultMap id="deviceFaultMap" type="com.cskaoyan.bean.device.DeviceFault">
        <id column="device_fault_id" jdbcType="VARCHAR" property="deviceFaultId" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="device_fault_cause" jdbcType="VARCHAR" property="deviceFaultCause" />
        <result column="device_fault_detail" jdbcType="VARCHAR" property="deviceFaultDetail" />
        <result column="device_fault_date" jdbcType="TIMESTAMP" property="deviceFaultDate" />
        <result column="device_fault_maintenance" jdbcType="VARCHAR" property="deviceFaultMaintenance" />
    </resultMap>

    <resultMap id="deviceFaultVoMap" type="com.cskaoyan.bean.device.more.DeviceFaultVo">
        <id column="device_fault_id" jdbcType="VARCHAR" property="deviceFaultId" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="device_fault_cause" jdbcType="VARCHAR" property="deviceFaultCause" />
        <result column="device_fault_detail" jdbcType="VARCHAR" property="deviceFaultDetail" />
        <result column="device_fault_date" jdbcType="TIMESTAMP" property="deviceFaultDate" />
        <result column="device_fault_maintenance" jdbcType="VARCHAR" property="deviceFaultMaintenance" />

        <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    </resultMap>

    
    <select id="queryAllDeviceFault" resultMap="deviceFaultVoMap">
        select
        device_fault_id,
        df.device_id,
        device_fault_cause,
        device_fault_detail,
        device_fault_date,
        device_fault_maintenance,
        d.device_name
        from device_fault df
        left join device d on df.device_id=d.device_id

    </select>


</mapper>