<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--需要将命名空间改造成对应接口的全类名-->
<mapper namespace="com.cskaoyan.mapper.qualifyMonitor.EmployeeMapper">
    <!--查找产品名称-->
    <resultMap id="empMapper" type="com.cskaoyan.bean.qualifyMonitor.Employee">
        <result property="empId" column="emp_id"/>
        <result property="empName" column="emp_name"/>
        <result property="sex" column="sex"/>
        <result property="idCode" column="id_code"/>
        <result property="birthday" column="birthday"/>
        <result property="joinDate" column="join_date"/>
        <result property="status" column="status"/>
        <result property="education" column="education"/>
        <result property="degree" column="degree"/>
        <result property="major" column="major"/>
        <result property="graduateSchool" column="graduate_school"/>
        <result property="educationForm" column="education_form"/>
        <association property="department" javaType="com.cskaoyan.bean.qualifyMonitor.Department">
            <result property="departmentName" column="department_name"/>
            <result property="departmentId" column="department_id"/>
            <result property="note" column="note"/>
        </association>
    </resultMap>
    <select id="queryEmployee" resultMap="empMapper">
        select
        emp.emp_id,
        emp.emp_name,
        emp.sex,
        emp.id_code,
        emp.birthday,
        emp.join_date,
        emp.status,
        emp.education,
        emp.degree,
        emp.major,
        emp.graduate_school,
        emp.education_form,
        dep.department_id,
        dep.department_name,
        dep.note
        from employee emp
        left join department dep on dep.department_id = emp.department_id;
    </select>
</mapper>