<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--需要将命名空间改造成对应接口的全类名-->
<mapper namespace="com.cskaoyan.mapper.qualifyMonitor.EndProductQualifyMapper">
    <resultMap id="endProductQualifyMapper" type="com.cskaoyan.bean.qualifyMonitor.EndProductQualify">
        <result property="fMeasureCheckId" column="f_measure_check_id"/>
        <result property="orderId" column="order_id"/>
        <result property="checkItem" column="check_item"/>
        <result property="cdate" column="cdate"/>
        <result property="measureData" column="measure_data"/>
        <result property="result" column="result"/>
        <result property="note" column="note"/>

        <result property="empName" column="emp_name"/>
    </resultMap>

    <select id="queryEndProductQualify" resultMap="endProductQualifyMapper">
        select
        fmc.f_measure_check_id,
        fmc.order_id,
        fmc.check_item,
        fmc.cdate,
        fmc.measure_data,
        fmc.result,
        fmc.note,
        emp.emp_name
        from final_measuret_check fmc
        left join employee emp on emp.emp_id = fmc.emp_id;
    </select>
</mapper>