<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--需要将命名空间改造成对应接口的全类名-->
<mapper namespace="com.cskaoyan.mapper.qualifyMonitor.ProcessCountCheckMapper">
    <resultMap id="processCountCheckMapper" type="com.cskaoyan.bean.qualifyMonitor.ProcessCountCheck">
        <result property="pCountCheckId" column="p_count_check_id"/>
        <result property="processId" column="process_id"/>
        <result property="checkItem" column="check_item"/>
        <result property="sample" column="sample"/>
        <result property="checkNumber" column="check_number"/>
        <result property="qualify" column="qualify"/>
        <result property="unqualify" column="unqualify"/>
        <result property="cdate" column="cdate"/>
        <result property="measureData" column="measure_data"/>
        <result property="result" column="result"/>
        <result property="note" column="note"/>
        <result property="empName" column="emp_name"/>
    </resultMap>

    <select id="queryProcessCountCheck" resultMap="processCountCheckMapper">
        select
        pcc.p_count_check_id,
        pcc.process_id,
        pcc.check_item,
        pcc.cdate,
        pcc.sample,
        pcc.check_number,
        pcc.unqualify,
        pcc.qualify,
        pcc.measure_data,
        pcc.result,
        pcc.note,
        emp.emp_name
        from process_count_check pcc
        left join employee emp on emp.emp_id = pcc.emp_id;
    </select>
</mapper>