<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.technology.TechnologyMapper">
    <!--查询所有的process记录-->
    <resultMap id="techMap" type="com.cskaoyan.bean.technology.Technology">
        <result column="technology_id" property="technologyId"></result>
        <result column="technology_name" property="technologyName"></result>
        <result column="price" property="price"></result>
        <result column="vital_process_period" property="vitalProcessPeriod"></result>
        <result column="standard_capacity" property="standardCapacity"></result>
        <result column="overtime_standard_capacity" property="overtimeStandardCapacity"></result>
        <result column="overtime_overfulfil_capacity" property="overtimeOverfulfilCapacity"></result>
        <result column="double_capacity" property="doubleCapacity"></result>
        <result column="overfulfil_capacity" property="overfulfilCapacity"></result>
    </resultMap>
    <select id="queryAllTechnologies" resultMap="techMap">
        select technology_id,technology_name,price,vital_process_period,
        standard_capacity,overtime_standard_capacity,overtime_overfulfil_capacity,
        double_capacity,overfulfil_capacity
        from technology
    </select>
</mapper>