<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.technology.TechnologyPlanMapper">
    <!--查询所有的TechnologyPlan记录-->
    <resultMap id="techPlanMap" type="com.cskaoyan.bean.technology.TechnologyPlan">
        <result column="batch_amount" property="batchAmount"></result>
        <result column="commit_plan" property="commitPlan"></result>
        <result column="end_plan" property="endPlan"></result>
        <result column="start_plan" property="startPlan"></result>
        <result column="technology_id" property="technologyId"></result>
        <result column="technology_name" property="technologyName"></result>
        <result column="technology_plan_id" property="technologyPlanId"></result>
        <result column="technology_plan_start" property="technologyPlanStart"></result>
        <result column="technology_plan_end" property="technologyPlanEnd"></result>
    </resultMap>
    <select id="queryAllTechPlans" resultMap="techPlanMap">
        select p.batch_amount,p.commit_plan,p.end_plan,p.start_plan,
        p.technology_id,t.technology_name,p.technology_plan_id,
        p.technology_plan_end,p.technology_plan_start
        from technology_plan p
        LEFT JOIN technology t
        on p.technology_id = t.technology_id
    </select>

    <!--新增一条工艺计划的记录-->
    <insert id="insertTechnologyPlan">
        insert into technology_plan (batch_amount,commit_plan,end_plan,start_plan,
        technology_id,technology_plan_id,
        technology_plan_end,technology_plan_start) values (
        #{technologyPlan.batchAmount},#{technologyPlan.commitPlan},#{technologyPlan.endPlan},
        #{technologyPlan.startPlan},#{technologyPlan.technologyId},#{technologyPlan.technologyPlanId},
        #{technologyPlan.technologyPlanEnd},#{technologyPlan.technologyPlanStart})
    </insert>

    <!--批量删除记录-->
    <delete id="deleteTechnologyPlan">
        delete from technology_plan where technology_plan_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--更新工艺计划记录-->
    <update id="updateTechnologyPlan">
        update technology_plan set technology_id = #{techPlan.technologyId},
        batch_amount = #{techPlan.batchAmount},start_plan =#{techPlan.startPlan},end_plan=#{techPlan.endPlan},
        commit_plan =#{techPlan.commitPlan},technology_plan_start =#{techPlan.technologyPlanStart},
        technology_plan_end =#{techPlan.technologyPlanEnd}
        where technology_plan_id = #{techPlan.technologyPlanId}
    </update>
</mapper>