<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mapper.technology.TechnologyRequirementMapper">
    <!--查询所有的记录-->
    <resultMap id="requireMap" type="com.cskaoyan.bean.technology.TechnologyRequirement">
        <result column="add_time" property="addTime"></result>
        <result column="revise_time" property="reviseTime"></result>
        <result column="requirement" property="requirement"></result>
        <result column="technology_id" property="technologyId"></result>
        <result column="technology_name" property="technologyName"></result>
        <result column="technology_requirement_id" property="technologyRequirementId"></result>
    </resultMap>
    <select id="queryAllTechnologyRequirements" resultMap="requireMap">
        select  r.add_time,r.revise_time,r.requirement,r.technology_id,t.technology_name,r.technology_requirement_id
        from technology_requirement r
        left join technology  t on r.technology_id = t.technology_id
    </select>

    <!--新增一条工艺需求-->
    <insert id="insertTechnologyRequirement">
        insert into technology_requirement (add_time,revise_time,requirement,technology_id,technology_requirement_id)
        values (#{technologyRequirement.addTime},#{technologyRequirement.reviseTime},#{technologyRequirement.requirement},
        #{technologyRequirement.technologyId},#{technologyRequirement.technologyRequirementId})
    </insert>

    <!--批量删除记录-->
    <delete id="deleteTechnologyRequirement">
        delete from technology_requirement where technology_requirement_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!--更新工艺需求记录-->
    <update id="updateTechnologyRequirement">
        update technology_requirement set technology_id = #{techRequire.technologyId},
        requirement = #{techRequire.requirement},add_time = #{techRequire.addTime},revise_time=#{techRequire.reviseTime}
        where technology_requirement_id = #{techRequire.technologyRequirementId}
    </update>

    <!--更新工艺要求-->
    <update id="updateNote">
        update technology_requirement set requirement = #{note} where technology_requirement_id = #{id}
    </update>

    <!--工艺要求编号模糊搜索-->
    <select id="queryRequireByRequireId" resultMap="requireMap">
        select  r.add_time,r.revise_time,r.requirement,r.technology_id,t.technology_name,r.technology_requirement_id
        from technology_requirement r
        left join technology  t on r.technology_id = t.technology_id where r.technology_requirement_id like #{value}
    </select>
    <!--工艺名称模糊搜索-->
    <select id="queryRequireByTechName" resultMap="requireMap">
        select  r.add_time,r.revise_time,r.requirement,r.technology_id,t.technology_name,r.technology_requirement_id
        from technology_requirement r
        left join technology  t on r.technology_id = t.technology_id where t.technology_name like #{value}
    </select>
</mapper>